.hero {
    position: relative;
    &__heading {
        margin: auto;
        @include lg {
            top: 10%;
            position: absolute;
            z-index: 2;
            width: 100%;

        }
    }
    &__image{
        @include lg{
            min-height: 600px;
        }
    }
    &__info{
        background-color: $color-secondary;
        h3{
            font-weight: 600;
        }
    }
}
